.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(228, 21, 21);

    background-color: blanchedalmond;
    color: gray;
}

.field {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 500px;
    height: 500px;

    margin: 0 auto;
}

.fieldWin::after {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(89, 104, 104, 0.573);

    color: rgb(112, 15, 15);
    font-size: 6rem;
    font-weight: 500;
    cursor: not-allowed;
}

.fieldWinWhite::after {
    content: "Win white";
}

.fieldWinDark::after {
    content: "Win dark";
}

.dark {
    background-color: #83563e;
    color: gray;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;

    pointer-events: none;
}
