.checker {
    position: relative;
    z-index: 5;
    width: 50px;
    height: 50px;
    display: grid;

    justify-content: center;
    align-items: center;
    border-radius: 50%;

    /* background-color: red; */
    overflow: hidden;
    cursor: grab;
    border: 1px solid transparent;
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.5),
        inset -4px -4px 6px rgba(0, 0, 0, 0.5);
}

.dark {
    background-color: rgb(128, 90, 90);
    background-color: red;
}

.white {
    background-color: white;
}

.iconCrown {
    width: 2rem;
    height: 2rem;
}
